<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación Responsive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>

<body class="bg-blue-700 min-h-screen flex items-center justify-center p-4">

    <div class="bg-white rounded-md p-6 md:p-10 w-full max-w-md text-center shadow-2xl">
        
        <h1 class="text-2xl md:text-4xl font-bold text-black mb-6 ">
            Confirmacion de inicio de sesion
        </h1>
        
        <div class="flex justify-center mb-6">
            <img src="/imagenes/Palisade_Logo2.jpeg" class="w-32 h-32 object-cover rounded-lg">
        </div>
        
        <p class="text-base md:text-xl text-gray-800 mb-8 ">
            Se ha detectado un inicio de sesion el dia xx/xx/xx a las xx:xx horas. Para confirmar el inicio de sesion, confirme que es usted.
        </p>
        
        <button class="w-full bg-yellow-400 hover:bg-yellow-300 text-black font-bold text-xl md:text-3xl py-3 md:py-4 rounded-full  shadow-md mb-6">
            Confirmar
        </button>
        
        <p class="text-xs md:text-sm text-gray-600 italic">
            Si no es usted se recomienda que tome medidas de seguridad para proteger su cuenta.
        </p>
    </div>

</body>
</html>